SEPOLIA_RPC_URL=
SEPOLIA_RPC_URL_BACKUP=
FORK_BLOCK=
ETHERSCAN_API_KEY=
DEPLOYER_PRIVATE_KEY=
DEPLOYER_ADDRESS=
OPERATOR_ADDRESS=
PARENT_LABEL=
PARENT_SECRET=
SME_ADDRESS=
INVESTOR_A=
INVESTOR_A2=
DEBTOR_ADDRESS=
DEBTOR_AP_ADDRESS=
